:root {

    --background: #ffff;
    --botoes: #4920B4;
    --texto: #000;
    --text-secundário: #2f2e2e00;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
    font-family: "Inter", sans-serif;
}

.logo img{
    width: 60%;
    height: auto;
    display: block;
    position: fixed;
    top: -10px;
    left: 0;
    z-index: 5;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 4;
    background-color: var(--background)
}

.menu-toggle{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.menu-toggle::before {
    content: '';
    position: absolute;
    top: -10px;  
    bottom: -10px;
    left: -10px;  
    right: -10px; 
}

.menu-toggle:focus-visible{
    outline:3px solid #5B2EFF;
    outline-offset:6px;
    border-radius:16px;
}

.menu-toggle .bar{
    width: 80%;
    height: 3px;
    position: relative;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    transform-origin: center;
    display: block;
    background-color: var(--botoes);
}

.menu-toggle.active .bar:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}
.menu-toggle.active .bar:nth-child(2){
    opacity: 0;
}
.menu-toggle.active .bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
}

.nav-list{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 70dvh;
    list-style-type: none;
    background-color: var(--background);
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    z-index: 1;
    box-shadow: 0 0 20px -10px black;
    border-radius: 10px;
}

.nav-list.active{
    transform: translateX(0); 
}

.nav-list li{
    margin: 20px;
    padding-top: 60px;
}

.nav-list a{
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-list a:focus-visible{
     outline:3px solid #5B2EFF;
    outline-offset:6px;
    border-radius:16px;
}

.secao-principal {
    margin-top: 8rem;
    padding: 0 2rem;
}

h1{
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

h1 span{
    color: var(--botoes);
}

.secao-principal p{
    font-size: 1.2rem;
    color: #3c3c3c;
    margin-bottom: 2rem;
    font-weight: 400;
}

.img-decorativa img{
    width: 100%;
    height: auto;
}

.guides-list{
    width: 100%;
}

.guides-list h2 {
    margin: 2rem 2rem;
    color: var(--botoes);
    text-align: center;
    font-size: 2rem;
}

.guides-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.guide-card{
    width: 90%;
    background-color: var(--background);
    box-shadow: 0 0 20px -12px var(--texto);
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

.guide-card > a {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    color: inherit;
    text-decoration: none;
}

.guide-icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: var(--botoes);
    font-size: 1.8rem;
    background-color: #f4f0ff;;
}

.guide-icon i{
    line-height: 1;
}

.guide-category{
    align-self: flex-start;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.40rem 0.8rem;
    background-color: #f4f0ff;
    color: var(--botoes);
    font-size: 1rem;
    font-weight: 700;
    margin-top: -1rem;
}

.guide-card h3{
    margin: 0 0 .75rem;
    color: var(--texto);
    font-size: 1.2rem;
    line-height: 1.3;
}

.guide-card p{
    color: #5f6070;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.guide-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.reading-time{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    color: #5f6070;
    font-size: .8rem;
}

.reading-time i{
    font-size: 1rem;
    color: var(--botoes);
}

.guide-link{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--botoes);
    font-size: 1rem;
    font-weight: bold;
}

.guide-link i{
    font-size: 1.3rem;
    color: var(--botoes);
}

.bunner-footer{
    background: linear-gradient(-45deg, #ffffff, #4920B4);
    width: 90%;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px -12px var(--texto);
}

.bunner-footer img{
    width: 60%;
    margin: 0 auto;
    display: block;
}

.bunner-footer h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
}

.bunner-footer p{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.explore{
    background-color: var(--botoes);
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--background);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.explore i{
    font-size: 1.3rem;
    line-height: 1;
}




/* FOOTER */

.footer{
    background-color: #290996;
    color: #fff;
    padding: 2rem 1.6rem;
    border-radius: 24px 24px 0 0;
    margin-top: 5rem;
}

.footer-logo img{
    width: 60%;
    margin-left: .3rem;
}

.footer-descricao p{
    font-size: 1.2rem;
    margin-left: 2rem;
    line-height: 1.7;
    margin-top: -30px;
    margin-bottom: 30px;
}

.footer-nav{
    margin-bottom: 3rem;
}

.footer-nav h3{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 2rem;
}

.footer-nav ul{
    list-style-type: none;
}

.footer-nav li{
    margin-bottom: .9rem;
    margin-left: 2rem;
}

.footer-nav a{
    font-size: 1.3rem;
    color: var(--background);
    text-decoration: none;
    cursor: pointer;
}

.footer-nav a:focus-visible{
    outline: 2px solid #FFFFFF;
    outline-offset: 4px;
    border-radius: 4px;
}

.footer-copy{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}